{% import 'search.html' as search %}

{% extends "template.html" %}
{% block title %}Mangeons!{% endblock %}
{% block body %}
<div class="container col-md-8">
  <div class="text-content-container px-4 pt-3">
    <h1>What <i>is</i> good, anyway?</h1>
    <p class="col-md-8">
      Ever thought to yourself, what's good? Why do people get up in the morning? What is the meaning of it all? Why do I need to brush my teeth today, or wash my clothes, when it all turns to kipple?
    </p>
    <h1>We have the answer</h1>
    <p class="col-md-8">
      It was a long and difficult journey, but it was all about the destination. We found out that the world's No. 1 problem is worrying about what to eat, especially at new places. We want to know, <i>What's Good?</i> We like the low-risk choice of something already familiar, and we close ourselves off to new possibilities.
      Trying new things <i>is</i> what is good, and we brought it back. Big time. So, search up a new restaurant, try out the best thing on the menu, and Carpe that Diem! Low risk! (Terms and Conditions apply)
    </p>
  </div>
</div>
{% endblock %}