{% extends "template.html" %}
{% block body %}
      <div class="container">
        <div class="form-group">
          <p>Select a restaurant to get started.</p>
            <form class="row" action="/search" method="get">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchterm" placeholder="Look for restaurants near you" aria-label="search Term" aria-describedby="button-addon1">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2" aria-describedby="button-addon1">Search!</button>
              </div>
              <input id="lat" name="lat" style="visibility: hidden" value="33.777156" />
              <input id="long" name="long" style="visibility: hidden" value="-84.396202" />
            </form>
        </div>
      </div>
    </div>
{% endblock %}