{% import "search.html" as common %}

<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <style>
    * {
      font-family: 'Nanum Gothic', sans-serif;
    }
  </style>
  <body>
    {{ common.nav() }}
    <div class="search-container p-5">
      <div class="container px-2 col-md-8">
          {{ common.search("Look for a restaurant") }}
      </div>
    </div>
    {% block body %}
    {% endblock %}
    
    <!-- Tab panes -->
    
    <script>
    function loc() {
      if (window.navigator.geolocation) {
        var results = window.navigator.geolocation.getCurrentPosition(changeLoc);
      }
    }

    function changeLoc(position) {
      lat = position.coords.latitude.toString()
      lon = position.coords.longitude.toString()
      console.log(lat + ", " + lon)  
      document.getElementById("lat").value = lat
      document.getElementById("lon").value = lon
    }
    /**
    function submit()
    {
        var keyword = document.getElementById('keyword').value
        console.log(keyword)
        if (window.navigator.geolocation) {
          var results = window.navigator.geolocation.getCurrentPosition(changeLoc);
        } 
        yelpSearch(keyword)
    }

    function yelpSearch(k) {
        var url = "https://api.yelp.com/v3/businesses/search"
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url, false ); // false for synchronous request
        xmlHttp.send( {term: document.getElementById('keyword').value, latitude: lat, longitude: lon} );
        return xmlHttp.responseText;
    }
    */

    window.onload= () => {
      loc();

      $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
      });
    }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>